body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative', serif;
    background: url("../../brinth_icons/bg4.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
  }

  
h2 {
    font-size: 1.8em;
    color: #f5f5f5;
    text-shadow: 0 0 8px #795845;
  }
  
.quit-button {
    position: relative;
    display: block;
    margin: 20px auto 40px auto;
    font-size: 0.9em;
    background: transparent;
    border: 2px solid #795845;
    padding: 10px 55px;
    color: #795845;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 0 0 5px #5e4431;
    transition: all 0.3s ease;
}

  .quit-button:hover {
    background: rgba(255,255,255,0.05);
    box-shadow: 0 0 15px #795845;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #111;
    border: 2px solid #795845;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 20px #795845;
  }
  
  .modal-content button {
    padding: 10px 25px;
    margin: 15px;
    background: transparent;
    border: 2px solid #795845;
    color: #795845;
    cursor: pointer;
    font-family: 'Cinzel Decorative', serif;
    transition: 0.3s;
  }
  
  .modal-content button:hover {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px #795845;
    color: #fff;
  }
.main-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.scene-image {
    width: 60%;
    aspect-ratio: 16 / 9;
    position: relative;
}
.door-button {
    position: absolute;
    max-width: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.door-button:hover {
    transform: scale(1.05);
}

.background-scene {
    width: 100%;
    display: block;
    border-radius: 10px;
    position: relative;
}

.gold-frame {
    position: absolute;
    top: -10px;
    left: -300px;
    width: calc(100% + 600px);
    height: calc(100% + 50px);
    pointer-events: none;
    z-index: 2;
}
        
.quiz-container {
    display: flex;
    justify-content: center;
    margin: 60px auto -10px auto;
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    color: #cfbca3;
    text-shadow: 0 0 6px #5e4431;
    width: 80%;
    max-width: 1000px; 
    
}

.quiz-frame {
    margin-bottom: 40px; 
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 20px;
    border: 2px solid #795845;
    box-shadow: 0 0 20px #5e4431;
    width: 100%;
    text-align: center;
}
.door {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  object-fit: cover;
  bottom: 0;
  z-index: 1;
  transition: transform 0.3s ease;
}

.door:hover {
  transform: scale(1.01);
}