body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background: url("../../brinth_icons/bg4.webp") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;  }
  
  h1 {
    font-size: 3em;
    color: #795845;
    text-shadow: 0 0 10px #a88a60;
  }
  
  .result-card {
    display: inline-block;
    background: rgba(0,0,0,0.5);
    padding: 30px 60px;
    margin-top: 40px;
    border: 1.5px solid #795845;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 15px #5e4431;
  }
  
  .result-card p {
    margin: 15px 0;
  }
  
  .start-button {
    display: inline-block;
    margin-top: 40px;
    padding: 20px 60px;
    font-size: 1.3em;
    border: 1.5px solid #795845;
    background: transparent;
    color: #795845;
    font-family: 'Cinzel Decorative', serif;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 15px;
  }
  
  .start-button:hover {
    background: rgba(255,255,255,0.05);
    color: #fff;
    box-shadow: 0 0 20px #a88a60;
  }

  
  .continue-box, .completed-box {
  background: rgba(0,0,0,0.6);
  border: 2px solid sienna;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 1.1em;
}
