@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
body {
  margin: 0;
  font-family: "Georgia", serif;
  background: radial-gradient(ellipse at center, #102324, #000);
  color: #f0f0f0;
}


.brinth-divider {
  width: 80%;
  height: 2px;
  margin: 60px auto;
  border: none;
  background: linear-gradient(to right, #00ffff10, #00ffff98, #00ffff10);
  box-shadow: 0 0 12px #00ffff44, 0 0 24px #00ffff22;
  animation: pulse-glow 3s infinite ease-in-out;
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 6px #00ffff22, 0 0 12px #00ffff11;
  }

  50% {
    box-shadow: 0 0 16px #00ffff66, 0 0 32px #00ffff44;
  }

  100% {
    box-shadow: 0 0 6px #00ffff22, 0 0 12px #00ffff11;
  }
}
/* Showcase Section */
.brinth-games-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 100px 50px;
  background: radial-gradient(circle at center, #0d1b2a, #000);
}

.game-tile {
  width: 200px;
  height: 350px;
  overflow: hidden;
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 0 12px #00000088;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.game-tile.expanded {
  width: 300px;
  height: 460px;
}

.game-tile .tile-top {
  width: 100%;
  height: 60%;
  position: relative;
}

.game-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-overlay {
  position: relative;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 90px;
  font-family: "Cinzel Decorative", serif;
  border-top: 1px solid #222;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.tile-icon {
  font-size: 1.4em;
}

.tile-title {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}

.tile-expand {
  font-size: 1.4em;
  cursor: pointer;
}

.tile-content {
  opacity: 0;
  padding: 15px;
  transition: opacity 0.3s ease;
}

.game-tile.expanded .tile-content {
  opacity: 1;
}

.game-tile.expanded .tile-overlay {
  opacity: 0;
  pointer-events: none;
}

.tile-content p {
  color: #ccc;
  font-size: 0.95em;
  margin-bottom: 15px;
  font-style: italic;
}

.tile-content a {
  display: inline-block;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid #5e4431;
  color: #c5a98a;
  text-decoration: none;
  font-size: 0.9em;
  transition: 0.3s ease;
  border-radius: 20px;
}

.tile-content a:hover {
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 0 10px #a88a60;
  color: #fff;
}

.showcase-title {
  text-align: center;
  font-size: 2em;
  font-family: 'Cinzel Decorative';
  color: #9e8170;
  text-shadow: 1px 1px 2px #16100b, 0 0 10px #241604;
  margin-bottom: 60px;
  width: 100%;
}
