@font-face {
    font-family: "BLKCHCRY";
    src: url("../../brinth_styles/brinth_fonts/BLKCHCRY.ttf") format("truetype");
}

@font-face {
    font-family: "Vampire Wars";
    src: url("../../brinth_styles/brinth_fonts/Vampire\ Wars.ttf") format("truetype");
}

/* Reset & Font */
body {
    margin: 0;
    font-family: "Georgia", serif;
    background: radial-gradient(ellipse at center, #102324, #000);
    color: #f0f0f0;
}

/*0D1B2A*/
/* Game Title */
header h1 {
    font-size: 60px;
    text-align: center;
    margin: 30px 0 10px;
    color: #a0efe8;
    text-shadow: 0 0 20px #00ffffa1;
}

/* Main Container */
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    padding: 50px;
}

/* Image Left */
.left-image {
    flex: 1;
}

.left-image img {
    width: 700px;
    height: 700px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 30px #090e16;
    animation: glow-pulse 4s infinite;
}

.login-form button {
    background: linear-gradient(to right, #090e16, #378eb173);
    font-weight: bold;
    cursor: pointer;
}

/* Text Area */
.text-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 100px;
    text-align: justify;
    color: #ccc;
    font-size: 1.1em;
}

/* Animations */
@keyframes border-glow {
    0% {
        box-shadow: 0 0 12px #00ffff44, 0 0 24px #00ffff22;
    }

    100% {
        box-shadow: 0 0 12px #00ffff44, 0 0 24px #00ffff22;
    }
}

@keyframes glow-pulse {
    0% {
        box-shadow: 0 0 12px #00ffff44, 0 0 24px #00ffff22;
    }

    50% {
        box-shadow: 0 0 40px #090e16;
    }

    100% {
        box-shadow: 0 0 12px #00ffff44, 0 0 24px #00ffff22;
    }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 19, 27, 0.4);
    border-bottom: 1px solid #1a1a1a;
}

.brinth-logo {
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 50px;
    color: rgb(48, 97, 97);
    text-shadow: 0 0 8px #0ff, 0 0 16px rgb(95, 1, 119);
    animation: flicker 2.5s infinite alternate;
    margin-left: 450px;
}

.login-form {
    display: flex;
    gap: 10px;
    margin-right: 130px;
}

.login-form input,
.login-form button {
    height: 45px;
    padding: 0 30px;
    border-radius: 25px;
    font-size: 1em;
    background-color: #f5f5f5;
    border: none;
    color: #000000;
    transition: all 0.3s ease;
}

.login-form input:focus,
.login-form button:hover {
    border-color: #00ffff9a;
    box-shadow: 0 0 8px #00ffff44;
    outline: none;
}

@keyframes flicker {
    0% {
        text-shadow: 0 0 5px rgb(0, 63, 65), 0 0 10px rgb(0, 57, 59),
            0 0 15px rgb(10, 44, 49);
    }

    100% {
        text-shadow: 0 0 10px rgb(0, 41, 41), 0 0 20px rgb(0, 58, 66),
            0 0 30px rgb(16, 53, 56);
    }
}

.below-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 100px;
    flex-wrap: wrap;
}

.brinth-divider {
    width: 80%;
    height: 2px;
    margin: 60px auto;
    border: none;
    background: linear-gradient(to right, #00ffff10, #00ffff98, #00ffff10);
    box-shadow: 0 0 12px #00ffff44, 0 0 24px #00ffff22;
    animation: pulse-glow 3s infinite ease-in-out;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 6px #00ffff22, 0 0 12px #00ffff11;
    }

    50% {
        box-shadow: 0 0 16px #00ffff66, 0 0 32px #00ffff44;
    }

    100% {
        box-shadow: 0 0 6px #00ffff22, 0 0 12px #00ffff11;
    }
}

.status-msg {
    display: block;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 15px;
    color: #ccc;
}

.brinth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    gap: 5%;
    flex-wrap: wrap;
}

.brinth-section.flipped {
    flex-direction: row-reverse;
}

.section-text {
    flex: 1;
    min-width: 300px;
}

.section-text h2,
.section-text1 h2,
.section-text2 h2 {
    font-family: "Cinzel Decorative", serif;
    font-size: 2.2em;
    color: #c6aa8b;
    text-shadow: 0 0 8px #a88a60;
    margin-bottom: 20px;
}

.section-text p,
.section-text1 p,
.section-text2 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 25px;
}

.section-btn {
    display: inline-block;
    padding: 14px 30px;
    background: transparent;
    color: #c5a98a;
    border: 2px solid #795845;
    text-decoration: none;
    font-family: "CopperplateCC-Bold";
    font-size: 1em;
    transition: 0.3s ease;
    box-shadow: 0 0 10px #5e4431;
}

.section-btn:hover {
    background: rgba(255, 255, 255, 0.07);
    color: #fff;
    box-shadow: 0 0 20px #a88a60;
}

.section-image,
.section-image2 {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.section-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 25px #5e4431;
}

.section-image2 img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 25px #cfc3ba;
}

.section-image0 img {
    max-width: 100%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 25px #cfc3ba;
}

.brinth-highlight {
    background-color: #5e4431;
    /* dark block background */
    padding: 60px 8%;
    margin: 100px auto;
    max-width: 1600px;
    box-shadow: 0 0 40px #000000b3;
}

.brinth-highlight {
    background: url("../../brinth_icons/startpage_cat.png") no-repeat right center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    box-shadow: 0 0 40px #000000b3;
    padding: 60px 8%;
    margin: 100px auto;
    min-height: 450px;
}

.brinth-highlight::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to left,
            rgba(27, 19, 11, 0.212),
            rgba(27, 19, 11, 0.164),
            rgba(27, 19, 11, 0));
    z-index: 0;
}

.brinth-highlight .brinth-section {
    position: relative;
    z-index: 1;
}

.brinth-highlight1 {
    background: url("../../brinth_icons/startpage_roles.png") no-repeat right center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    box-shadow: 0 0 40px #000000b3;
    padding: 60px 8%;
    margin: 100px auto;
}
.brinth-highlight1-1 {
    background: url("../../brinth_icons/startpage_cate.png") no-repeat right center;
    background-size: cover;
    position: relative;
    isolation: isolate;
    box-shadow: 0 0 40px #000000b3;
    padding: 60px 8%;
    margin: 100px auto;
}

.brinth-highlight1::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(147, 95, 58, 0.233),
            rgba(2, 58, 58, 0.26),
            rgba(13, 13, 75, 0));
    z-index: 0;
}

.brinth-highlight1 .brinth-section,
.brinth-highlight1-1 .brinth-section {
    position: relative;
    z-index: 1;
}

.section-text1 {
    flex: 0 0 60%;
    max-width: 60%;
    min-width: 300px;
}

.section-text2 {
    flex: 0 0 60%;
    min-width: 300px;
}

/* Wrap for password and forgot password link */
.password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

/* Forgot Password alignment in login bar */
.login-form .forgot-link {
    margin-top: 5px;
    font-size: 0.75em;
    color: #00ffff44;
    text-decoration: underline;
    padding-left: 175px;
    text-align: left;
}

.brinth-hero {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url("../../brinth_icons/intro_image.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    /* dark overlay */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #c5a98a;
}

.hero-content h1 {
    font-size: 60px;
    text-shadow: 0 0 15px #000, 0 0 25px #222;
    font-family: "Vampire Wars", serif;
}

.hero-content p {
    font-size: 1.5em;
    margin: 10px 0 30px;
    color: #ccc;
    font-family: "BLKCHCRY";
}

.hero-button {
    padding: 15px 35px;
    font-size: 1em;
    background: #0a4042;
    color: #fff;
    border: 1px solid #ffffff93;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s ease;
    box-shadow: 0 0 10px #5e4431;
}

.hero-button:hover {
    background: #5e4431;
    color: #ffffff;
    box-shadow: 0 0 20px #0a4042;
}

.brinth-logo {
    margin-left: 450px;
    display: flex;
    align-items: center;
}

.brinth-logo img {
    height: 55px;
    /* adjust size as needed */
    filter: drop-shadow(0 0 5px rgb(68, 68, 68));
}


@media only screen and (max-width: 768px) {
    .brinth-highlight1,
    .brinth-highlight1-1 {
        background-image: url("../../brinth_icons/startpage_mobile_cat_roles.png"); /* Replace with actual phone image path */
        background-position: center;
        background-size: cover;
        text-align: center;
    }

    .brinth-highlight1 .brinth-section,
    .brinth-highlight1-1 .brinth-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-text1,
    .section-text2 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .section-btn {
        display: block;
        margin: 0 auto;
    }
}
