@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Cinzel Decorative', serif;
    background: url("../../brinth_icons/bg3.webp") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
    padding: 80px 20px;
}

.comic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.comic-frame {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    padding: 40px;
    border: 1.5px solid #7a4e33;
    box-shadow: 0 0 25px #7a4e33;
    width: 30%;
    max-width: 950px;
    text-align: center;
    position: relative;
}

.comic-main-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 0 20px #7a4e33;
}


.comic-buttons {
    margin-top: 20px;
}

.comic-buttons button {
    margin: 10px;
    padding: 12px 35px;
    font-size: 1.1em;
    border: 2px solid #7a4e33;
    background: transparent;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Cinzel Decorative', serif;
    transition: 0.3s;
}

.comic-buttons button:hover {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 15px #7a4e33;
    color: #fff;
}

a button {
    background-color: rgba(255,255,255,0.03);
}

a button:hover {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}
