@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


@font-face {
  font-family: 'CopperplateCC-Bold';
  src: url('../brinth_fonts/CopperplateCC-Bold.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background: url("../../brinth_icons/bg2.webp") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  overflow-x: hidden;
}

.page-container {
  height: 100vh;
  padding-top: 40px;
  text-align: center;
  position: relative;
}

.top-username {
  font-size: 3em;
  font-family: 'CopperplateCC-Bold';
  color: #9e8170;
  text-shadow: 1px 1px 2px #16100b, 0 0 8px #241604;
  margin: 5px auto;
}

.page-title {
  font-size: 2em;
  font-family: 'Cinzel Decorative', serif;
  color: #795845;
  text-shadow: 0 0 6px #a88a60;
  margin-bottom: 40px;
}

.info-list {
  text-align: left;
  margin: 0 auto;
  width: fit-content;
  font-size: 1.1em;
  font-family: 'Cinzel Decorative', serif;
  color: #ddd;
}

.info-list p {
  margin: 10px 0;
}

.info-list span {
  color: #c5a98a;
  font-weight: bold;
  margin-left: 10px;
  text-shadow: 0 0 6px #795845;
}
.role-box {
  margin: 60px auto;
  padding: 40px 100px;
  font-size: 3em;
  font-family: 'Cinzel Decorative', serif;
  color: #795845;
  border: 3px double #795845;
  border-radius: 10px;
  width: fit-content;
  background: transparent;
  text-shadow: 1px 1px 2px #3e2d20, 0 0 8px #a88a60;
  position: relative;
  box-shadow: 0 0 20px rgba(121, 88, 69, 0.5);
}


.role-box::before,
.role-box::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  height: 100px;
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.95;
  pointer-events: none;
}

.role-box::before {
  left: -130px;
}

.role-box::after {
  right: -130px;
  transform: translateY(-50%) scaleX(-1); 
}

.role-label {
  font-size: 0.7em;
  margin-top: 10px;
  color: #a88a60;
}



.back-button-container {
  margin-top: 60px;
}

.start-button {
    display: inline-block;
    font-family: 'Attack of Monster', serif;
    padding: 40px 80px;
    font-size: 2.2em;
    color: #795845;
    background: transparent;
    border: 5px solid #795845;
    text-decoration: none;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    box-shadow: 0 0 20px rgba(42, 20, 167, 0.4);
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px #3e2d20, 0 0 8px #a88a60;
  }

.start-button:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 25px #fff;
  color: #fff;
}

hr {
  width: 50%;
  margin: 40px auto;
  border-color: #795845;
  opacity: 1;
}

.small_button {

  display: inline-block;
  padding: 14px 30px;
  background: transparent;
  color: #c5a98a;
  border: 2px solid #795845;
  text-decoration: none;
  font-family: 'CopperplateCC-Bold';
  font-size: 1em;
  transition: 0.3s ease;
  box-shadow: 0 0 10px #5e4431;
}

.small_button:hover {
  background: rgba(255, 255, 255, 0.07);
  color: #fff;
  box-shadow: 0 0 20px #a88a60;
}

